from langchain import OpenAI
from langchain.llms import AzureOpenAI
from langchain.chat_models import AzureChatOpenAI
from langchain.embeddings import OpenAIEmbeddings


# openai

OPENAI_API_KEY="xxx"

llm = OpenAI(temperature=0, openai_api_key=OPENAI_API_KEY)
chat_model = OpenAI(temperature=0, model_name="gpt-35-turbo", openai_api_key=OPENAI_API_KEY)
embeddings = OpenAIEmbeddings(deployment='text-embedding-ada-002', openai_api_key=OPENAI_API_KEY)


# azure openai

API_TYPE = "azure"
BASE_URL = "https://appname.openai.azure.com/"
API_KEY = "xxx"

azure_llm = AzureOpenAI(
    openai_api_base=BASE_URL,    
    openai_api_key=API_KEY,
    openai_api_type=API_TYPE,    
    openai_api_version="2023-09-15-preview",
    deployment_name="gpt-35-turbo-0301",    
    #model_name="gpt-35-turbo",   
    #model_name =  "text-davinci-003",    
)

azure_chat_model = AzureChatOpenAI(
    openai_api_base=BASE_URL,
    openai_api_version="2023-03-15-preview",
    deployment_name="gpt-35-turbo-0613",    
    openai_api_key=API_KEY,
    openai_api_type=API_TYPE,
)

azure_embeddings = OpenAIEmbeddings(
    openai_api_base=BASE_URL,    
    openai_api_key=API_KEY,
    openai_api_type=API_TYPE,
    deployment='text-embedding-ada-002',
    )

# minimax api

MINIMAX_GROUP_ID = ""
MINIMAX_API_KEY = ""    